@{
    ViewData["Title"] = "Giới thiệu";
}
<style>
    body {
        background-image: url('/image/CFBG.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
<div class="row p-3 m-5">
    <div class="card card-body">
        <h3>
            <span class="badge rounded-pill bg-primary">The Coffee Store</span> Nơi giải tỏa cơn thèm coffee (cà phê) của bạn
        </h3>
    </div>
    <h5 class="mt-3 card card-body bg-white" style="color: black">
        The Coffee Store là một trong những cửa hàng bán cà phê pha chế "Ngon, Bổ ,Rẻ" với nhiều chi nhánh bán lẻ ở Cần Thơ.
    </h5>
    <h5 class="mt-1 card card-body bg-white" style="color: black;">
        Quý khách có thể mua mang đi hoặc có thể uống tại quán với một không gian sân vườn thoáng mát, giúp quý khách có thể giải tỏa căng thẳng bằng cách uống 1 ngụm cà phê ngon và tận hưởng một không khí trong lành.
    </h5>
    <h5 class="mt-1 card card-body bg-white" style="color: black;">
        Ngoài ra The Coffee Store chúng tôi cũng có bán với hình thức online thông qua facebook, zalo và instagram cho những quý khách không tiện đường ghé quán có thể mua tại nhà.
    </h5>
</div>
<div class="row p-3 m-5 d-flex justify-content-center">
    <div class="col-sm-4">
        <img src="~/image/cfsanvuon.jpg" alt="gioithieu" height="200" width="100%" />
    </div>
    <div class="col-sm-4 offset-4">
        <img src="~/image/cfsanvuon.jpg" alt="gioithieu" height="200" width="100%" />
    </div>
</div>

