@{
    ViewData["Title"] = "Liên hệ";
}
<style>
    body {
        background-image: url('/image/CFBG.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container mt-5">
    <div class="card p-4">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Liên hệ với chúng tôi</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-3 mb-3">
                        <h5 class="mb-3">Địa chỉ:</h5>
                        <p>Đường 3/2, phường An Khánh, quận Ninh Kiều, TP Cần Thơ</p>
                    </div>
                    <div class="p-3 mb-3">
                        <h5 class="mb-3">Số điện thoại:</h5>
                        <p>0909 123 123</p>
                    </div>
                    <div class="p-3">
                        <h5 class="mb-3">Email:</h5>
                        <p>thecoffeestore@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/image/contact1.png" alt="Liên hệ" class="img-fluid rounded mt-4">

                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7858.849054703256!2d105.7582185!3d9.981747400000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1716277135917!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
