@{
    ViewData["Title"] = "Trang chủ";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img-top {
            width: 100%;
            height: 200px;
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
            opacity: 0.5;
        }

        .carousel-inner {
            height: 300px;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url('/image/CFBG.jpg');
            background-size: cover;
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/image/cafe1.jpg" class="d-block w-100 img-fluid" alt="Slide 1">
                </div>
                <div class="carousel-item ">
                    <img src="~/image/ban4.jpg" class="d-block w-100 img-fluid" alt="Slide 2">
                </div>
                <div class="carousel-item ">
                    <img src="~/image/ban3.jpg" class="d-block w-100 img-fluid" alt="Slide 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container">
            <h2>Các loại cafe</h2>

            <div class="row">
              
                    <div class="col-lg-4" style="margin-bottom: 30px ">
                        <div class="card">
                                    <img class="card-img-top" src="~/image/cfcapuchinoda.jpg" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">Capuchino</h5>
                                <p class="card-text">Price: @String.Format("{0:C}",18000)</p>

                            </div>
                            <a asp-controller="GioHangs" asp-action="Index" class="btn btn-outline-success p-1 col-sm-12 mt-2"><span class="bi bi-cart-fill"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-bottom: 30px ">
                        <div class="card">
                                    <img class="card-img-top" src="~/image/cfsuatuoinong.jpg" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">Cà Phê Sữa Tươi</h5>
                                <p class="card-text">Price: @String.Format("{0:C}",17000)</p>

                            </div>
                            <a asp-controller="GioHangs" asp-action="Index" class="btn btn-outline-success p-1 col-sm-12 mt-2"><span class="bi bi-cart-fill"></span></a>
                        </div>
                    </div>
                <div class="col-lg-4" style="margin-bottom: 30px ">
                    <div class="card">
                        <img class="card-img-top" src="~/image/cftrung.jpg" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">Cà Phê Hột Gà</h5>
                            <p class="card-text">Price: @String.Format("{0:C}", 15000)</p>

                        </div>
                        <a asp-controller="GioHangs" asp-action="Index" class="btn btn-outline-success p-1 col-sm-12 mt-2"><span class="bi bi-cart-fill"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>


